@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    zoom: 1;
}
body{
    background: #272727;
}
.discover{
    /* display: flex;
    flex-wrap: wrap; */
}
.visualizer{

}
.equilizer-panel{

}
.track-controls{

}





.active.sidebar-options{
    @apply bg-gradient-to-l from-blue-700 to-violet-800 ;
}


.resizable {
    min-height: min-content;
    min-width: min-content;
    resize: both;
    overflow: auto;
    max-height: fit-content;
    max-width: fit-content;
  }
.hidden-range{
    -webkit-appearance: none;
    width: 100px;
    height: 10px;
    opacity: 0;
    border-radius: 5px;
    @apply w-full absolute -translate-y-1/2 z-10;
}

/* .hidden-range::-moz-range-thumb, */
/* .hidden-range::-ms-thumb, */
.hidden-range::-webkit-slider-thumb{
    -webkit-appearance: none;
    width: 5px;
    height: 30px;
    background-color: #272727;
    /* filter: drop-shadow(2px 2px 3px #00000021); */
    @apply h-12 cursor-e-resize;
}
.equilizer-levels::-webkit-scrollbar{
    display: none;
}

.progress-range{
    -webkit-appearance: none;
    opacity: 0;
    border-radius: 5px;
    @apply h-10 w-80 absolute top-1/2  mx-10 -translate-y-1/2 z-10;
}
/* .progress-range::-moz-range-thumb,
.progress-range::-ms-thumb, */
.progress-range::-webkit-slider-thumb{
    -webkit-appearance: none;
    width: 5px;
    height: 30px;
    background-color: #272727;
    /* filter: drop-shadow(2px 2px 3px #00000021); */
    @apply h-10 cursor-e-resize;
}
.no-zoom {
    zoom: 1;
}
.equilizer-levels {
    display: grid;
    grid-template-columns: repeat(10,50px);
    @apply h-52 my-2 overflow-x-auto  ;
}
.input-wrapper{
    width: 15px;
    
    margin: 0 auto ;
    @apply h-52 box-border relative bg-zinc-600 rounded overflow-hidden;
}

.input-wrapper >input{
    -webkit-appearance: none;
    opacity: 0;
    
    @apply  z-20 select-none origin-center absolute w-52 -translate-x-1/2 left-1/2 top-1/2 -translate-y-1/2 -rotate-90;
}
.input-wrapper >.freq-level{

    @apply w-full duration-100 pointer-events-none transform-gpu bg-blue-500 z-10 ;
}
@keyframes loading {
    0%{
        rotate: 0;
    }
    100%{
        rotate: 360deg;
    }
}


  